<div>
  <div id="title">
    Bienvenue sur <span class="font-moviestack">MOVIESTACK</span> !
  </div>
  <div id="what_for">
    <span class="font-moviestack">MOVIESTACK</span> c'est notre application géniale qui vous permettra de :
    <ul>
      <li>Créer votre propre liste de films que vous avez vus !</li>
      <li>Renseigner vos critères de choix ainsi que de noter et commenter les films</li>
      <li>D'avoir des propositions de films selon vos critères (genres, acteurs, etc...) et de votre liste de films</li>
    </ul>
  </div>
</div>

