<div id="user_choice_nav">
  <h3>Bonjour <em *ngIf="currentMovieBuff"> {{ this.currentMovieBuff.firstName }} {{ this.currentMovieBuff.lastName }} ! </em></h3>
  <nav id="user_choice">
    <ul>
      <li class="deroulant">
        <a href="#">Choix utilisateur &ensp;</a>
        <ul class="sous" >
          <li *ngFor="let movieBuff of movieBuffsList" (click)="selectMovieBuff(movieBuff)"><a href="#"> {{ movieBuff.firstName }} {{ movieBuff.lastName }} </a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>


<div>
  <div class="Title">
    <h1>Bienvenue sur <span>MOVIESTACK</span> !</h1>
  </div>
  <div class="What_for">
    <h2><span>MOVIESTACK</span> c'est notre application géniale qui vous permettra de :</h2>
    <ul>
      <li><h3>Créer votre propre liste de films que vous avez vus !</h3></li>
      <li><h3>Renseigner vos critères de choix ainsi que de noter et commenter les films</h3></li>
      <li><h3>D'avoir des propositions de films selon vos critères (genres, acteurs, etc...) et de votre liste de films</h3></li>
    </ul>
  </div>
</div>

