#headerSheet {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: 5px 0;
  background-color: white;
}

#buttonBack {
padding: 0;
}

#pageName {
  flex: 1;
}

#pageName h2 {
  /*background-color: white;*/
  /*padding: 10px;*/
}

#contentSheet {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#poster {
  max-width: 29vw;
}

.poster {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

#details {
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  width: 69vw;
}

.label {
  background-color: gray;
  color: white;
  font-weight: bold;
  padding: 10px 0;
  margin: auto;
  width: 60%;
}

.data {
  background-color: white;
  font-weight: bold;
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: left;
  border: gray 1px solid;
  border-radius: 5px;
}

.col-10 {
  width: 9vw;
}

.col-20 {
  width: 19vw;
}

.col-30 {
  width: 29vw;
}

.col-40 {
  width: 39vw;
}

.col-50 {
  width: 49vw;
}

.col-60 {
  width: 59vw;
}

.col-70 {
  width: 67vw;
}

.col-80 {
  width: 79vw;
}

.col-90 {
  width: 89vw;
}

.col-last {
  flex: 1;
}

.row-last {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex-grow: 1;*/
}
