
footer {
  flex-shrink: 0;
  position: fixed;
  bottom: 0;
  width: 99%;
  background-color: white;
}

div {
  height: 60px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#logo_renault {
  height: 40px;
  /*height: 2.4vw;*/
  /*min-height: 1.8vw;*/
  /*min-width: 8.44vw;*/
}

#logo_simplon {
  height: 40px;
  /*height: 2.4vw;*/
  /*min-height: 1.8vw;*/
  /*min-width: 8.44vw;*/
}

/*---------------------------------------------*/
/*---------------------------------------------*/

@media screen and (max-width: 425px) {
  #logo_renault {
    height: 30px;
  }

  #logo_simplon {
    height: 30px;
  }
}

@media screen and (max-width: 375px) {
  #logo_renault {
    height: 20px;
  }

  #logo_simplon {
    height: 20px;
  }
}
