.flex-cont-row {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.flex-cont-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.item {
  padding: 0.5em;
  min-width: 0;
  height: 100px;
  width: 60px;
}

.initial {
  flex: initial;
}

.auto {
  flex: auto;
}

.labelTitle {
  font-size: larger;
  font-weight: bolder;
  padding: 7px 5vw;
}

.label-color-gray {
  background-color: grey;
  color: white;
}

.row-strech {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.poster {
  width: 70px;
  padding: 5px 0;
}

.mat-column-add {
  flex: 0 0 40px !important;
  min-width: 40px !important;
  justify-content: center;
}

#buttonBack {
  background-color: white;
}

#buttonSearch {
  font-size: larger;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  background-color: #33801d;
  padding: 2px 5vw;
}

#inputTitle {
  width: 40%;
}

#add_movie_icon {
  padding: 0 20px;
  cursor: pointer;
}

mat-paginator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
