app-add-amovie-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttonBack {
  padding-right: 95%;
  height: 4vw;
  width: 4vw;
  margin: 5px 0;
  position: absolute;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-table {
  /*width: 1400px;*/
  width: 83vw;
}

mat-header-cell, mat-cell:not(#mat_cell_title) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mat_cell_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

mat-header-cell:first-of-type, mat-cell:first-of-type {
  /*flex: 0 0 40px !important;*/
  /*min-width: 40px !important;*/
  flex: 0 0 2.38vw !important;
  min-width: 2.38vw !important;
}

.mat_header {
  font-size: medium;
  font-weight: bold;
}

#add_movie {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#add_movie_icon {
  /*padding: 0 20px;*/
  padding: 0 1.2vw;
  cursor: pointer;
}

.poster {
  /*width: 63px;*/
  /*padding: 5px 0;*/
  width: 3.75vw;
  padding: 0.3vw 0;
}

#scrollable_table {
  scroll-behavior: smooth;
  /*height: 605px;*/
  height: 36vw;
  overflow: auto;
}

.addMovieForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*margin-bottom: 25px;*/
  margin-bottom: 1.5vw;
}

.addMovieForm form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section h1 {
  background-color: grey;
  color: white;
  /*width: 650px;*/
  width: 38.7vw;
  height: 30px;

}

.addMovieForm form div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.addMovieForm label {
  /*width: 400px;*/
  /*padding: 0 25px;*/
  width: 23.8vw;
  padding: 0 1.5vw;
}

.addMovieForm .title h2 {
  background-color: grey;
  color: white;
  height: 30px;
  /*margin: 5px 0;*/
  margin: 0.3vw 0;
}

.addMovieForm .released h2 {
  background-color: grey;
  color: white;
  margin: 0.3vw 0;
}

.addMovieForm input {
  /*width: 300px;*/
  width: 17.9vw;
  height: 28px;
  /*margin: 0 25px 0 0;*/
  margin: 0 1.5vw 0 0;
  border-radius: 5px;
}

.addMovieForm input[type=text] {
  /*padding: 0 0 0 15px;*/
  padding: 0 0 0 0.9vw;
}

.addMovieForm a button {
  height: 40px;
  /*width: 140px;*/
  width: 8.33vw;
  font-size: larger;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  background-color: #33801d;
}
