<div class="flex-cont-row">
  <div class="item initial">
    <mat-icon title="Ajouter un film" class="large-icon" [routerLink]="['/addamovie']">playlist_add</mat-icon>
  </div>
  <div class="item auto">
    <div *ngIf="!hasData" class="flex-cont-col">
      <div class="row-strech">
          <span class="labelTitle">
            <= cliquez sur le bouton pour ajouter un film à votre liste
          </span>
      </div>
    </div>
  </div>
</div>

<section>
  <mat-table [dataSource]="dataSource" matSort aria-describedby="Liste des films">

    <!-- Title -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Titre</mat-header-cell>
      <mat-cell *matCellDef="let item"><mat-icon [routerLink]="['/movie', item.idImdb]">zoom_in</mat-icon>{{item.title}}</mat-cell>
    </ng-container>

    <!-- Director -->
    <ng-container matColumnDef="director">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Réalisateur</mat-header-cell>
      <mat-cell *matCellDef="let item"><mat-icon [routerLink]="['/director', 1]">zoom_in</mat-icon>{{item.director}}</mat-cell>
    </ng-container>

    <!-- Actors -->
    <ng-container matColumnDef="actors">
      <mat-header-cell *matHeaderCellDef> Acteurs </mat-header-cell>
      <mat-cell *matCellDef="let item" class="cellActors">
      <span *ngFor="let actor of item.actors; let i=index" class="cellActor">
        <span *ngIf="(item.actors)?.length <= maxActor; else elseGreaterThan">
          <span *ngIf="i < (item.actors)?.length - 1; else elseIf">
            {{ actor.name }},
          </span>
          <ng-template #elseIf>
            {{ actor.name }}
          </ng-template>
        </span>
        <ng-template #elseGreaterThan>
          <span *ngIf="i < (maxActor - 1)">
            {{ actor.name }},
          </span>
          <span *ngIf="i == (maxActor - 1)">
            {{ actor.name }}...
          </span>
        </ng-template>
      </span>
      </mat-cell>
    </ng-container>

    <!-- Genres -->
    <ng-container matColumnDef="genres">
      <mat-header-cell *matHeaderCellDef>Genres</mat-header-cell>
      <mat-cell *matCellDef="let item" class="cellGenres">
      <span *ngFor="let genre of item.genres; let i=index" class="cellGenre">
        <span *ngIf="(item.genres)?.length <= maxGenre; else elseGreaterThan">
          <span *ngIf="i < (item.genres)?.length - 1; else elseIf">
            {{ genre.name }},
          </span>
          <ng-template #elseIf>
            {{ genre.name }}
          </ng-template>
        </span>
        <ng-template #elseGreaterThan>
          <span *ngIf="i < (maxGenre - 1)">
            {{ genre.name }},
          </span>
          <span *ngIf="i == (maxGenre - 1)">
            {{ genre.name }}...
          </span>
        </ng-template>
      </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="moviesColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: moviesColumns"></mat-row>
  </mat-table>

  <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</section>
