@font-face {
  font-family: "MovieStack_Font";
  src: url('/assets/Action Comics.ttf');
  font-style: normal;
}

app-top-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: auto;
  background-color: rgba(0, 15, 255, 0.4);
}

app-top-bar div div .clap_cinema {
  height: 50px;
}

app-top-bar div div {
  height: 35px;
  font-size: large;
}

app-top-bar div div .button_connexion {
  height: 35px;
  font-size: large;
  padding-right: 15px;
  padding-left: 15px;
  border-color: rgba(0, 15, 255, 0.03);
  background-color: rgba(0, 15, 255, 0.09);
 }

app-top-bar div div {
  margin-right: 10px;
  margin-left: 10px;
}

footer div {
  height: 60px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

footer div .logo_renault {
  height: 40px;
}

footer div .logo_simplon {
  height: 40px;
}

app-welcome-page {
  width: auto;
}
