div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: auto;
  background-color: rgb(159, 163, 255);
}

h1 {
  font-family: MovieStack_Font, serif;
  font-size: larger;
}

app-top-bar {
  position: sticky;
  flex: 1;
}

div div {
  height: 35px;
  font-size: large;
  background: none;
  margin: 0 10px;
}

.clap_cinema {
  height: 50px;
}

.welcome_Page_button {
  background: none;
  border-color: rgb(159, 163, 255);
}

a .button_connexion {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.button_connexion {
  height: 35px;
  font-size: large;
  padding: 0 15px;
  border-color: rgb(159, 163, 255);
  background-color: rgb(126, 123, 255);
}

/*-------------------------------------------------*/
/*-------------------------------------------------*/

@media screen and (max-width: 425px) {
  #top-bar {
    padding: 5px 10px;
  }

  #top-bar-center h1 {
    font-size: smaller;
  }
}

@media screen and (max-width: 375px) {
  #top-bar {
    padding: 2%;
  }

  #top-bar-center h1 {
    font-size: x-small;
  }

  #clap_cinema {
    height: 40px;
  }

  #button_connexion {
    font-size: smaller;
  }
}
