<h2 mat-dialog-title class="center">{{ formTitle }}</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="example-form">
    <div id="rating">

        <label
          class="label"
          for="ratingField"
        >
          Sur 10, je lui donne : {{ formRate }}
        </label>
        <app-star-rating
          [rating]="formRate"
          [starCount]="10"
          [readOnly]="false"
          id="ratingField"
          (ratingUpdated)="onRatingChanged($event)"
        ></app-star-rating>

    </div>
    <div id="opinion">
      <mat-form-field class="example-full-width">
      <label
        class="label"
        for="opinionField"
      >
        Ce que j'ai pensé de ce film ?
      </label>
      <input
        #message
        matInput
        id="opinionField"
        maxlength="256"
        formControlName="opinion"
      >
      <mat-hint align="start"><strong>Maximum 256 caractères</strong> </mat-hint>
      <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save(message.value, formRate)">Save</button>
</mat-dialog-actions>
