.example-full-width {
  width: 100%;
}

.label {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
}

#ratingField {
  padding-left: 10px;
}

#opinionField {
  padding-top: 15px;
}
