<div id="sheet">
  <div id="headerSheet">
    <div id="buttonBack">
      <a [routerLink]="['/movies']">
        <img alt="back to movie list" src="./assets/back.png">
      </a>
    </div>
    <div class="starDiv">
      <app-star-rating
        [rating]="localMyRating"
        [starCount]="starCount"
        [readOnly]="true"
        (click)="displayMyOpinion()"
      >
      </app-star-rating>
    </div>

    <div id="pageName">
      <h3>Fiche du film</h3>
    </div>

    <div class="starDiv">
      <app-star-rating
        [rating]="localGlobalRating"
        [starCount]="starCount"
        [readOnly]="true"
        (click)="displayOpinionList()"
      >
      </app-star-rating>
    </div>
  </div>
  <div id="contentSheet">
    <div id="poster" class="col-30">
      <img *ngIf="currentMovie.posterUrl" alt="poster" class="poster" [src]="currentMovie.posterUrl">
    </div>
    <div id="details" class="col-last">
      <div class="row">
        <div class="label col-20">Titre</div>
        <div class="data col-30">{{ currentMovie.title }}</div>
        <div class="label col-10">Note</div>
        <div class="data col-10 center">{{ currentMovie.imdbRating }}</div>
      </div>

      <div class="row">
        <div class="label col-20">Date de sortie</div>
        <div class="data col-30 center">{{ currentMovie.released | date:'yyyy':'fr-FR'}}</div>
        <div class="label col-10">Votants</div>
        <div class="data col-10 center">{{ currentMovie.imdbVote }}</div>
      </div>

      <div class="row">
        <div class="label col-20">Réalisateur</div>
        <div class="data col-30">{{ currentMovie.director }}</div>
        <div class="label col-10" (click)="refreshMovieInfo(currentMovie.idImdb)">id IMDB</div>
        <div class="data col-10 center">{{ currentMovie.idImdb }}</div>
      </div>

      <div class="row">
        <div class="label col-20">Genres</div>
        <div class="data col-30">
          <span *ngFor="let genre of currentMovie.genres ; let i=index">
            <span *ngIf="(currentMovie.genres)?.length <= maxGenre; else elseGreaterThan">
              <span *ngIf="i < (currentMovie.genres)?.length - 1; else elseIf">
                {{ genre.name }},
              </span>
              <ng-template #elseIf>
                {{ genre.name }}
              </ng-template>
            </span>
            <ng-template #elseGreaterThan>
              <span *ngIf="i < (maxGenre - 1)">
                {{ genre.name }},
              </span>
              <span *ngIf="i === (maxGenre - 1)">
                {{ genre.name }}...
              </span>
            </ng-template>
          </span>
        </div>
        <div class="label col-10">Durée</div>
        <div class="data col-10 center">{{ currentMovie.runtime }} min</div>
      </div>

      <div class="row">
        <div class="label col-20">Acteurs</div>
        <div class="data col-50">
          <span *ngFor="let actor of currentMovie.actors ; let i=index">
            <span *ngIf="(currentMovie.actors)?.length <= maxActor; else elseGreaterThan">
              <span *ngIf="i < (currentMovie.actors)?.length - 1; else elseIf">
                {{ actor.name }},
              </span>
              <ng-template #elseIf>
                {{ actor.name }}
              </ng-template>
            </span>
            <ng-template #elseGreaterThan>
              <span *ngIf="i < (maxActor - 1)">
                {{ actor.name }},
              </span>
              <span *ngIf="i === (maxActor - 1)">
                {{ actor.name }}...
              </span>
            </ng-template>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="label col-20">Synopsis</div>
        <div class="data  col-50">
          {{ currentMovie.plot | slice: 0: 260}} ...
        </div>
      </div>

    </div>
  </div>
</div>
