<div id="top-bar">
  <div id="top-bar-left">
    <button id="welcome_Page_button" type="submit">
      <a [routerLink]="['']">
        <img
          id="clap_cinema"
          src="/assets/Clap_cinema.svg"
          alt="clap de cinema">
      </a>
    </button>
  </div>
  <div id="top-bar-center">
    <h1>MOVIESTACK</h1>
  </div>
  <div id="top-bar-right">
    <button id="button_connexion" type="submit">
      <a [routerLink]="['/movies']">
        Ma Liste
      </a>
    </button>
  </div>
</div>
