.starColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 20vw;
}

.starRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.starIcon {
  color: gold;
}
